h1
{
    color: black;
}

#container
{
    width: 600px;
    height: 600px;
    margin: auto;
    background-image: url(https://previews.123rf.com/images/themorningglory/themorningglory1610/themorningglory161000041/64168871-green-nature-botanic-fresh-grass-background-green-field-background.jpg);
    border: 10px solid darkcyan;
    border-radius: 25px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
}

.dirt
{
    margin: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: pink;
    border: 10px solid darkcyan;
}

.mole{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px;
    background-position: center;
    background-size: 80px;
    background-image: url(https://corona-cdn.coronalabs.com/mp2/u3945/product-media/icon/pic5abfb8c76243f4_512x-_51645367.png);
} 