#container{
    width: 600px;
    height: 600px;
    margin: auto;
}


#dirtbox{
    width: 600px;
    height: 600px;
    background-color:lightblue;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 30px;
    border: 10px solid darkcyan;
    margin-top: 1 00px;
}

#mole{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px;
    background-image: url("");
    background-position: center;
    background-size: 80px;
}

.dirt{
    margin: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: palevioletred;
    border: 10px solid black;
}